# Ignore node_modules directory
node_modules/

# Ignore environment variables file (if you have one)
.env

# Ignore log files
logs/

# Ignore npm's debug log file
npm-debug.log

# Ignore any temporary files
*.log
*.lock
*.csv

# Ignore macOS system files
.DS_Store

# Ignore JetBrains IDEs files
.idea/

# Ignore VSCode settings
.vscode/

# Ignore OS-specific files
Thumbs.db

.cache